body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: $secondary-color;
}

@font-face {
    font-family: 'SegoePrintBold';
    src: url('fonts/segoeprb.ttf');
}

.font-menu1-titre {
    font-family: 'Ma Shan Zheng', cursive, serif;
    font-size: 3rem;
    color: $menu1-color;
}

.font-menu1-menu {
    font-family: 'SegoePrintBold', serif;
    font-size: 3rem;
    color: $menu1-color;
}

.font-menu2-titre {
    font-family: 'Croissant One', cursive, serif;
    font-size: 2.5rem;
    background: linear-gradient(to bottom right, #E38A12, #9461FE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.font-menu2-menu {
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
    font-weight: bold;
    color: $menu2-color;
}

.font-menu3-titre {
    font-family: 'Dancing Script', cursive, serif;
    font-size: 3rem;
    background: linear-gradient(to right, #0230DF, #0889FB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.font-menu3-menu {
    font-family: 'SegoePrintBold', serif;
    font-size: 3rem;
    color: $menu3-color;
}

.font-menu4-titre {
    font-family: 'Kaushan Script', cursive, serif;
    font-size: 3rem;
    background: linear-gradient(to right, #43973D, #BEFF7F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.font-menu4-menu {
    font-family: 'SegoePrintBold', serif;
    font-size: 3rem;
    color: $menu4-color;
}