.menus {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__menu1 {
        @include menu;
        &--bg-color {
            background-color: $menu1-bg-color;
            @include menu-display;
        }
        & img {
            width: 30%;
        }
        & p {
            margin: 0 0 30px 0;
        }
    }
    &__menu2 {
        @include menu;
        &--bg-color {
            background-color: $menu2-bg-color;
            @include menu-display;
        }
        & p {
            margin: 30px 0 0 0;
        }
    }
    &__menu3 {
        @include menu;
        &--bg-color {
            background-color: $menu3-bg-color;
            @include menu-display;
        }
        & p {
            margin: 30px 0 0 0;
        }
    }
    &__menu4 {
        @include menu;
        &--bg-color {
            background-color: $menu4-bg-color;
            @include menu-display;
        }
        & p {
            margin: 30px 0 0 0;
        }
    }
    & li {
        list-style-type: none;
        & a {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
        }
    }
}