.menus {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    &__menu-item:nth-child(1) {
        @include menu;
        background-color: $menu1-bg-color;
        & a {
            @include menu-display;
        }
        & img {
            width: 18%;
        }
        & p {
            margin: 0 0 15px 0;
        }
    }
    &__menu-item:nth-child(2) {
        @include menu;
        background-color: $menu2-bg-color;
        & a {
            @include menu-display;
        }
        & p {
            margin: 15px 0 0 0;
        }
    }
    &__menu-item:nth-child(3) {
        @include menu;
        background-color: $menu3-bg-color;
        & a {
            @include menu-display;
        }
        & p {
            margin: 15px 0 0 0;
        }
    }
    &__menu-item:nth-child(4) {
        @include menu;
        background-color: $menu4-bg-color;
        & a {
            @include menu-display;
        }
        & p {
            margin: 15px 0 0 0;
        }
    }
    & li {
        list-style-type: none;
        & a {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
        }
    }
}