@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    bottom: 0;
    height: 10vh;
    background-color: $primary-color;
    margin-top: 60px;
    & a {
        text-align: center;
        font-size: 2vw;
        text-decoration: none;
        padding: 0 30px;
        color: $secondary-color;
        &:hover {
            animation: wiggle 1200ms infinite ease-in-out both;
        }
    }
}