@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    3% {
        transform: rotate(-2deg);
    }
    4% {
        transform: rotate(2deg);
    }
    5% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    bottom: 0;
    height: 10vh;
    background-color: $primary-color;
    margin-top: 60px;
    & a {
        text-align: center;
        font-size: 2vw;
        text-decoration: none;
        padding: 0 30px;
        color: $secondary-color;
        animation: wiggle 3s infinite;
    }
}