header {
    background-color: $primary-color;
    cursor: pointer;
    margin-bottom: 30px;
    & h1 {
        color: $secondary-color;
        text-align: center;
        font-size: 3rem;
        margin: 20px 0;
    }
    & a {
        text-decoration: none;
    }
}