$primary-color: #579C87;
$secondary-color: #FDCB46;
$menu1-color: #3D1319;
$menu2-color: #C77412;
$menu3-color: #0887FB;
$menu4-color: #72BF56;
$menu1-bg-color: #FCDFDB;
$menu2-bg-color: #FFF5FE;
$menu3-bg-color: #EDEFEF;
$menu4-bg-color: #FDFFFD;
$menu2-titre-color-entree: #C67412;
$menu2-titre-color-plat: #A56799;
$menu2-titre-color-dessert:#6E4CCC;
$breakpoints: ( mobile: 599px, tablet: 1288px, large: 1921px);