body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #FDCB46;
}

@font-face {
  font-family: "SegoePrintBold";
  src: url("fonts/segoeprb.ttf");
}
.menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.menus__menu1 {
  width: 33vw;
  height: 80vh;
  box-shadow: 0px 0px 15px lightgrey;
  margin: 30px;
  overflow: hidden;
}
@media screen and (max-width: 1288px) {
  .menus__menu1 {
    width: 40vw;
    height: 60vh;
    margin: 20px;
  }
}
@media screen and (max-width: 599px) {
  .menus__menu1 {
    width: 75vw;
    height: 60vh;
  }
}
.menus__menu1--bg-color {
  background-color: #FCDFDB;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 300ms ease;
}
.menus__menu1--bg-color:hover {
  transform: scale(1.3);
  opacity: 0.3;
}
.menus__menu1 img {
  width: 30%;
}
.menus__menu1 p {
  margin: 0 0 15px 0;
}
.menus__menu2 {
  width: 33vw;
  height: 80vh;
  box-shadow: 0px 0px 15px lightgrey;
  margin: 30px;
  overflow: hidden;
}
@media screen and (max-width: 1288px) {
  .menus__menu2 {
    width: 40vw;
    height: 60vh;
    margin: 20px;
  }
}
@media screen and (max-width: 599px) {
  .menus__menu2 {
    width: 75vw;
    height: 60vh;
  }
}
.menus__menu2--bg-color {
  background-color: #FFF5FE;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 300ms ease;
}
.menus__menu2--bg-color:hover {
  transform: scale(1.3);
  opacity: 0.3;
}
.menus__menu2 p {
  margin: 15px 0 0 0;
}
.menus__menu3 {
  width: 33vw;
  height: 80vh;
  box-shadow: 0px 0px 15px lightgrey;
  margin: 30px;
  overflow: hidden;
}
@media screen and (max-width: 1288px) {
  .menus__menu3 {
    width: 40vw;
    height: 60vh;
    margin: 20px;
  }
}
@media screen and (max-width: 599px) {
  .menus__menu3 {
    width: 75vw;
    height: 60vh;
  }
}
.menus__menu3--bg-color {
  background-color: #EDEFEF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 300ms ease;
}
.menus__menu3--bg-color:hover {
  transform: scale(1.3);
  opacity: 0.3;
}
.menus__menu3 p {
  margin: 15px 0 0 0;
}
.menus__menu4 {
  width: 33vw;
  height: 80vh;
  box-shadow: 0px 0px 15px lightgrey;
  margin: 30px;
  overflow: hidden;
}
@media screen and (max-width: 1288px) {
  .menus__menu4 {
    width: 40vw;
    height: 60vh;
    margin: 20px;
  }
}
@media screen and (max-width: 599px) {
  .menus__menu4 {
    width: 75vw;
    height: 60vh;
  }
}
.menus__menu4--bg-color {
  background-color: #FDFFFD;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 300ms ease;
}
.menus__menu4--bg-color:hover {
  transform: scale(1.3);
  opacity: 0.3;
}
.menus__menu4 p {
  margin: 15px 0 0 0;
}
.menus li {
  list-style-type: none;
}
.menus li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

@keyframes clignotement {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.prochainement {
  font-size: 2rem;
  background-color: #579C87;
  border-radius: 10px;
  padding: 10px 35px;
  margin-top: 30px;
}
.prochainement span {
  line-height: 0;
  animation: clignotement 2s infinite;
}
.prochainement span:nth-child(2) {
  animation-delay: 200ms;
}
.prochainement span:nth-child(3) {
  animation-delay: 400ms;
}
@media screen and (max-width: 599px) {
  .prochainement {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1288px) {
  .prochainement {
    font-size: 1.8rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #579C87;
  cursor: pointer;
  margin-bottom: 30px;
}
header h1 {
  color: #FDCB46;
  text-align: center;
  font-size: 3rem;
  margin: 20px 0;
}
@media screen and (max-width: 599px) {
  header h1 {
    font-size: 1.8rem;
  }
}
header a {
  text-decoration: none;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  bottom: 0;
  height: 7vh;
  background-color: #579C87;
  margin-top: 60px;
}
footer a {
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0 30px;
  color: #FDCB46;
}
footer a:hover {
  animation: wiggle 1200ms infinite ease-in-out both;
}
@media screen and (max-width: 599px) {
  footer a {
    font-size: 0.8rem;
    padding: 0 15px;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu_page {
  width: 50vw;
  box-shadow: 0px 0px 15px lightgrey;
}

.page_restaurant {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.page_restaurant h2 {
  margin: 40px 0 20px 0;
  text-align: center;
  color: #000;
  font-size: 3rem;
}

.mentions_legales {
  margin: auto;
  color: #000;
  text-align: justify;
  max-width: 1200px;
  background-color: #f3f3f3;
  box-shadow: 0 0 15px lightgrey;
  padding: 20px;
}
@media screen and (max-width: 1288px) {
  .mentions_legales {
    width: 80%;
    font-size: 1rem;
  }
}
@media screen and (max-width: 599px) {
  .mentions_legales {
    padding: 5px;
    width: 90%;
  }
}

.font-menu1-titre {
  font-family: "Ma Shan Zheng", cursive, serif;
  font-size: 3rem;
  color: #3D1319;
}
@media screen and (max-width: 1288px) {
  .font-menu1-titre {
    font-size: 1.8rem;
  }
}

.font-menu1-menu {
  font-family: "SegoePrintBold", serif;
  font-size: 3rem;
  color: #3D1319;
}
@media screen and (max-width: 1288px) {
  .font-menu1-menu {
    font-size: 1.8rem;
  }
}

.font-menu2-titre {
  font-family: "Croissant One", cursive, serif;
  font-size: 2.1rem;
  background: linear-gradient(to bottom right, #E38A12, #9461FE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 1288px) {
  .font-menu2-titre {
    font-size: 1.3rem;
  }
}

.font-menu2-menu {
  font-family: "Times New Roman", Times, serif;
  font-size: 3.5rem;
  font-weight: bold;
  color: #C77412;
}
@media screen and (max-width: 1288px) {
  .font-menu2-menu {
    font-size: 2.3rem;
  }
}

.font-menu3-titre {
  font-family: "Dancing Script", cursive, serif;
  font-size: 3rem;
  background: linear-gradient(to right, #0230DF, #0889FB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 1288px) {
  .font-menu3-titre {
    font-size: 2rem;
  }
}

.font-menu3-menu {
  font-family: "SegoePrintBold", serif;
  font-size: 3rem;
  color: #0887FB;
}
@media screen and (max-width: 1288px) {
  .font-menu3-menu {
    font-size: 2rem;
  }
}

.font-menu4-titre {
  font-family: "Kaushan Script", cursive, serif;
  font-size: 3rem;
  background: linear-gradient(to right, #43973D, #BEFF7F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 1288px) {
  .font-menu4-titre {
    font-size: 1.9rem;
  }
}

.font-menu4-menu {
  font-family: "SegoePrintBold", serif;
  font-size: 3rem;
  color: #72BF56;
}
@media screen and (max-width: 1288px) {
  .font-menu4-menu {
    font-size: 2rem;
  }
}

.page-menu1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}
.page-menu1 section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3% 10rem 3%;
  max-width: 1200px;
  width: 60%;
  box-shadow: 0px 0px 15px lightgrey;
  padding: 0 8%;
  background-color: #FCDFDB;
  color: #3D1319;
  font-family: "SegoePrintBold", serif;
}
@media screen and (max-width: 1288px) {
  .page-menu1 section {
    padding-bottom: 5rem;
  }
}
@media screen and (max-width: 599px) {
  .page-menu1 section {
    width: 85%;
    padding-bottom: 3rem;
  }
}
@media screen and (max-width: 1288px) {
  .page-menu1 section {
    width: 65%;
  }
}
@media screen and (max-width: 599px) {
  .page-menu1 section {
    padding: 0 3% 3rem 3%;
    width: 85%;
  }
}
.page-menu1__top-note {
  padding-top: 60px;
  width: 6rem;
  height: 5.5rem;
}
@media screen and (max-width: 1288px) {
  .page-menu1__top-note {
    padding-top: 40px;
    width: 4.5rem;
    height: 4rem;
  }
}
@media screen and (max-width: 599px) {
  .page-menu1__top-note {
    width: 3.5rem;
    height: 3rem;
  }
}
.page-menu1 h2 {
  font-size: 3rem;
}
@media screen and (max-width: 1288px) {
  .page-menu1 h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 599px) {
  .page-menu1 h2 {
    font-size: 1.1rem;
  }
}
.page-menu1 h3 {
  font-size: 3rem;
  font-weight: normal;
  font-family: "Ma Shan Zheng", cursive, serif;
  margin: 0;
}
@media screen and (max-width: 1288px) {
  .page-menu1 h3 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 599px) {
  .page-menu1 h3 {
    font-size: 1.8rem;
  }
}
.page-menu1__titres {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px;
}
@media screen and (max-width: 1288px) {
  .page-menu1__titres {
    margin-top: 30px;
  }
}
.page-menu1__titres h4 {
  font-weight: bold;
  font-size: 1.6rem;
  margin: 0;
  position: relative;
}
.page-menu1__titres h4::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  background-color: black;
  left: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
}
.page-menu1__titres h4:hover::before {
  visibility: visible;
  width: 100%;
}
.page-menu1__titres h4::before {
  background-color: #3D1319;
}
@media screen and (max-width: 1288px) {
  .page-menu1__titres h4 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 599px) {
  .page-menu1__titres h4 {
    font-size: 0.9rem;
  }
}
.page-menu1__titres img {
  width: 33%;
}
@media screen and (max-width: 1288px) {
  .page-menu1__titres img {
    width: 30%;
  }
}
@media screen and (max-width: 599px) {
  .page-menu1__titres img {
    width: 26%;
  }
}
.page-menu1 ul {
  width: 100%;
  padding: 0;
  list-style-type: none;
}
.page-menu1 li {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  line-height: 280%;
  width: 100%;
}
@media screen and (max-width: 1288px) {
  .page-menu1 li {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 599px) {
  .page-menu1 li {
    font-size: 0.5rem;
  }
}
.page-menu1 em {
  font-size: 1.5rem;
  font-weight: bold;
}
@media screen and (max-width: 1288px) {
  .page-menu1 em {
    font-size: 1rem;
  }
}
@media screen and (max-width: 599px) {
  .page-menu1 em {
    font-size: 0.6rem;
  }
}
.page-menu1__bottom-menu {
  display: flex;
  align-items: center;
  margin: 4rem;
}
@media screen and (max-width: 1288px) {
  .page-menu1__bottom-menu {
    margin: 1rem 0 3rem 0;
  }
}
@media screen and (max-width: 599px) {
  .page-menu1__bottom-menu {
    margin-bottom: 0;
  }
}
.page-menu1__bottom-menu img {
  width: 2.2rem;
  height: 2.2rem;
}
@media screen and (max-width: 599px) {
  .page-menu1__bottom-menu img {
    width: 1.3rem;
    height: 1.3rem;
  }
}
.page-menu1__bottom-menu h3 {
  font-size: 2.2rem;
}
@media screen and (max-width: 1288px) {
  .page-menu1__bottom-menu h3 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 599px) {
  .page-menu1__bottom-menu h3 {
    font-size: 1.3rem;
  }
}

.page-menu2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}
.page-menu2 section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3% 10rem 3%;
  max-width: 1200px;
  width: 60%;
  box-shadow: 0px 0px 15px lightgrey;
  background-color: #FFF5FE;
  font-family: "Roboto Slab", serif;
}
@media screen and (max-width: 1288px) {
  .page-menu2 section {
    padding-bottom: 5rem;
  }
}
@media screen and (max-width: 599px) {
  .page-menu2 section {
    width: 85%;
    padding-bottom: 3rem;
  }
}
@media screen and (max-width: 1288px) {
  .page-menu2 section {
    width: 65%;
  }
}
@media screen and (max-width: 599px) {
  .page-menu2 section {
    width: 85%;
  }
}
.page-menu2 h2 {
  font-size: 3rem;
}
@media screen and (max-width: 1288px) {
  .page-menu2 h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 599px) {
  .page-menu2 h2 {
    font-size: 1.1rem;
  }
}
.page-menu2 h3 {
  background: linear-gradient(to bottom right, #E38A12, #9461FE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  font-weight: normal;
  font-family: "Croissant One", cursive, serif;
  margin-top: 100px;
}
@media screen and (max-width: 1288px) {
  .page-menu2 h3 {
    margin-top: 60px;
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 599px) {
  .page-menu2 h3 {
    margin-top: 60px;
    font-size: 1.3rem;
  }
}
.page-menu2__titres {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px;
}
@media screen and (max-width: 1288px) {
  .page-menu2__titres {
    margin-top: 30px;
  }
}
.page-menu2__titres h4 {
  font-size: 1.5rem;
  margin: 0;
}
@media screen and (max-width: 1288px) {
  .page-menu2__titres h4 {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 599px) {
  .page-menu2__titres h4 {
    font-size: 0.8rem;
  }
}
.page-menu2__titres img {
  width: 30%;
}
@media screen and (max-width: 1288px) {
  .page-menu2__titres img {
    width: 27%;
  }
}
@media screen and (max-width: 599px) {
  .page-menu2__titres img {
    width: 24%;
  }
}
.page-menu2 ul {
  width: 100%;
  padding: 0;
  list-style-type: none;
}
.page-menu2 li {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  line-height: 280%;
  font-size: 1.2rem;
}
@media screen and (max-width: 1288px) {
  .page-menu2 li {
    font-size: 0.76rem;
  }
}
@media screen and (max-width: 599px) {
  .page-menu2 li {
    font-size: 0.48rem;
  }
}
.page-menu2--couleur-entree {
  color: #C67412;
}
.page-menu2--couleur-plat {
  color: #A56799;
}
.page-menu2--couleur-dessert {
  color: #6E4CCC;
}
.page-menu2--souligner-entree {
  position: relative;
}
.page-menu2--souligner-entree::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  background-color: black;
  left: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
}
.page-menu2--souligner-entree:hover::before {
  visibility: visible;
  width: 100%;
}
.page-menu2--souligner-entree::before {
  background-color: #C67412;
}
.page-menu2--souligner-plat {
  position: relative;
}
.page-menu2--souligner-plat::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  background-color: black;
  left: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
}
.page-menu2--souligner-plat:hover::before {
  visibility: visible;
  width: 100%;
}
.page-menu2--souligner-plat::before {
  background-color: #A56799;
}
.page-menu2--souligner-dessert {
  position: relative;
}
.page-menu2--souligner-dessert::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  background-color: black;
  left: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
}
.page-menu2--souligner-dessert:hover::before {
  visibility: visible;
  width: 100%;
}
.page-menu2--souligner-dessert::before {
  background-color: #6E4CCC;
}

.page-menu3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}
.page-menu3 section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3% 10rem 3%;
  max-width: 1200px;
  width: 60%;
  box-shadow: 0px 0px 15px lightgrey;
  background-color: #EDEFEF;
  font-family: "SegoePrintBold", serif;
}
@media screen and (max-width: 1288px) {
  .page-menu3 section {
    padding-bottom: 5rem;
  }
}
@media screen and (max-width: 599px) {
  .page-menu3 section {
    width: 85%;
    padding-bottom: 3rem;
  }
}
@media screen and (max-width: 1288px) {
  .page-menu3 section {
    width: 65%;
  }
}
@media screen and (max-width: 599px) {
  .page-menu3 section {
    width: 85%;
  }
}
.page-menu3 h2 {
  font-size: 3rem;
}
@media screen and (max-width: 1288px) {
  .page-menu3 h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 599px) {
  .page-menu3 h2 {
    font-size: 1.1rem;
  }
}
.page-menu3 h3 {
  background: linear-gradient(to right, #0230DF, #0889FB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
  font-weight: normal;
  font-family: "Dancing Script", cursive, serif;
  margin-top: 100px;
}
@media screen and (max-width: 1288px) {
  .page-menu3 h3 {
    margin: 60px 0 15px 0;
    font-size: 3rem;
  }
}
@media screen and (max-width: 599px) {
  .page-menu3 h3 {
    margin: 60px 0 10px 0;
    font-size: 1.9rem;
  }
}
.page-menu3__titres {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px;
}
@media screen and (max-width: 1288px) {
  .page-menu3__titres {
    margin-top: 30px;
  }
}
.page-menu3__titres h4 {
  font-size: 1.5rem;
  margin: 0;
  position: relative;
}
.page-menu3__titres h4::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  background-color: black;
  left: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
}
.page-menu3__titres h4:hover::before {
  visibility: visible;
  width: 100%;
}
@media screen and (max-width: 1288px) {
  .page-menu3__titres h4 {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 599px) {
  .page-menu3__titres h4 {
    font-size: 0.7rem;
  }
}
.page-menu3__titres img {
  width: 30%;
}
@media screen and (max-width: 599px) {
  .page-menu3__titres img {
    width: 24%;
  }
}
.page-menu3 ul {
  width: 100%;
  padding: 0;
  list-style-type: none;
}
.page-menu3 li {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  line-height: 280%;
  font-size: 1.1rem;
}
@media screen and (max-width: 1288px) {
  .page-menu3 li {
    font-size: 0.69rem;
  }
}
@media screen and (max-width: 599px) {
  .page-menu3 li {
    font-size: 0.44rem;
  }
}

.page-menu4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}
.page-menu4 section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3% 10rem 3%;
  max-width: 1200px;
  width: 60%;
  box-shadow: 0px 0px 15px lightgrey;
  background-color: #FDFFFD;
  font-family: "SegoePrintBold", serif;
}
@media screen and (max-width: 1288px) {
  .page-menu4 section {
    padding-bottom: 5rem;
  }
}
@media screen and (max-width: 599px) {
  .page-menu4 section {
    width: 85%;
    padding-bottom: 3rem;
  }
}
@media screen and (max-width: 1288px) {
  .page-menu4 section {
    width: 65%;
  }
}
@media screen and (max-width: 599px) {
  .page-menu4 section {
    width: 85%;
  }
}
.page-menu4 h2 {
  font-size: 3rem;
}
@media screen and (max-width: 1288px) {
  .page-menu4 h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 599px) {
  .page-menu4 h2 {
    font-size: 1.1rem;
  }
}
.page-menu4 h3 {
  background: linear-gradient(to right, #43973D, #BEFF7F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
  font-weight: normal;
  font-family: "Kaushan Script", cursive, serif;
  margin-top: 100px;
}
@media screen and (max-width: 1288px) {
  .page-menu4 h3 {
    margin: 60px 0 15px 0;
    font-size: 3rem;
  }
}
@media screen and (max-width: 599px) {
  .page-menu4 h3 {
    margin: 60px 0 10px 0;
    font-size: 1.9rem;
  }
}
.page-menu4__titres {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px;
}
@media screen and (max-width: 1288px) {
  .page-menu4__titres {
    margin-top: 30px;
  }
}
.page-menu4__titres h4 {
  font-size: 1.2rem;
  margin: 0;
  position: relative;
}
.page-menu4__titres h4::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  background-color: black;
  left: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
}
.page-menu4__titres h4:hover::before {
  visibility: visible;
  width: 100%;
}
@media screen and (max-width: 1288px) {
  .page-menu4__titres h4 {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 599px) {
  .page-menu4__titres h4 {
    font-size: 1rem;
  }
}
.page-menu4__titres img {
  width: 36%;
}
@media screen and (max-width: 1288px) {
  .page-menu4__titres img {
    width: 30%;
  }
}
@media screen and (max-width: 599px) {
  .page-menu4__titres img {
    width: 24%;
  }
}
.page-menu4 ul {
  width: 100%;
  padding: 0;
  list-style-type: none;
}
.page-menu4 li {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  line-height: 280%;
  font-size: 1rem;
}
@media screen and (max-width: 1288px) {
  .page-menu4 li {
    font-size: 0.65rem;
  }
}
@media screen and (max-width: 599px) {
  .page-menu4 li {
    font-size: 0.41rem;
  }
}
.page-menu4 em {
  font-size: 1.2rem;
}
@media screen and (max-width: 1288px) {
  .page-menu4 em {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 599px) {
  .page-menu4 em {
    font-size: 0.44rem;
  }
}

/*# sourceMappingURL=style.css.map */
