/* Globale */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: black;
}

.container {
    width: 1200px;
    display: flex;
    margin: auto;
}

.couleur_fond {
    color: #FBC02D;
}

.blanc {
    color: white;
}


/* Colonne de gauche */

.colonne_gauche {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #FBC02D;
}

#photo_profil {
    display: flex;
    justify-content: center;
    margin: 50px 0 30px 0;
}

.colonne_gauche h2 {
    font-weight: bold;
    background-color: #37474F;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0 5px 0;
}

.colonne_gauche :nth-child(3) {
    text-align: justify;
    flex-grow: 1;
}

.colonne_gauche p {
    margin: 0 40px 10px 40px;
}

#img_loisirs {
    margin: 40px 0;
}

#img_loisirs :nth-child(1) {
    margin: 0 20px 0 50px;
}

#img_loisirs :nth-child(2) {
    margin: 0 10px 0 10px;
}

#img_loisirs :nth-child(3) {
    margin: 0 50px 0 20px;
}


/* Colonne de droite */

.colonne_droite {
    flex: 2;
    padding: 0 60px 0 60px;
    background-color: white;
}

.colonne_droite header {
    padding: 65px 0;
}

.colonne_droite header h1 {
    text-transform: uppercase;
    font-size: 3.5rem;
    margin-bottom: 10px;
}

#sous_titre_header {
    font-size: 1.5rem;
    font-weight: bold;
}

.gras {
    font-weight: bold;
}

#souligne {
    text-decoration: underline #FBC02D;
}

hr {
    border-color: #FBC02D;
    border-style: solid;
    border-width: 2px;
}

.conteneur_details {
    display: flex;
    margin-top: 2.5rem;
}

.conteneur_details div:nth-child(2) {
    width: 30%;
    margin-left: 1.2rem;
}

.conteneur_details div:nth-child(3) {
    width: 66%;
    margin-left: 2rem;
}

.année {
    font-weight: bold;
    font-size: 1.1rem;
}

.outer_circle {
    width: 0.8rem;
    height: 0.8rem;
    border: 0.2rem solid;
    border-radius: 50%;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
}

.dot {
    width: 0.1rem;
    height: 0.1rem;
    border: 0.2rem solid;
    background-color: #FBC02D;
    border-radius: 50%;
}

.colonne_droite section p {
    font-size: 1.2rem;
}

.colonne_droite footer h4 {
    text-transform: uppercase;
    font-weight: bold;
}

.colonne_droite section h1,
.colonne_droite footer h1 {
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-top: 5rem;
}

.decalage {
    margin-right: 40px;
}

.colonne_droite footer p {
    font-weight: bold;
    margin: -3px 0 8px 0;
}

.colonne_droite h2 {
    text-transform: uppercase;
    font-size: 1.4rem;
    margin: 0 0 10px 0;
}

.recommandations {
    margin-bottom: 50px;
    display: flex;
    width: 93%;
    justify-content: space-between;
}


/* Responsive pour smartphone */

@media all and (max-width: 1024px) {
    .container {
        width: 100%;
        flex-direction: column;
    }
    /* Colonne gauche */
    .colonne_gauche {
        order: 1;
        text-align: center;
    }
    /* Colonne Droite */
    .colonne_droite {
        padding: 10px;
    }
    .colonne_droite header {
        text-align: center;
        padding: 0;
    }
    .colonne_droite header h1 {
        margin-bottom: 10px;
        font-size: 2.5rem;
    }
    #sous_titre_header {
        font-size: 1.3rem;
    }
    .conteneur_details {
        flex-direction: column;
    }
    .conteneur_details div:nth-child(2) {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
    .conteneur_details div:nth-child(3) {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
    .année {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 2.5rem;
        background-color: #37474F;
        color: white;
        border-radius: 15px;
        font-weight: bold;
        font-size: 1.1rem;
        margin-bottom: 1.5rem;
    }
    .outer_circle {
        display: none;
    }
    .colonne_droite section p {
        font-size: 1.2rem;
    }
    .colonne_droite section h1,
    .colonne_droite footer h1 {
        text-align: center;
        font-size: 1.4rem;
    }
    .decalage {
        margin-right: 10px;
    }
    .colonne_droite footer p {
        font-weight: bold;
        margin: -3px 0 8px 0;
    }
    .colonne_droite h2 {
        text-transform: uppercase;
        font-size: 1.4rem;
        margin: 0 0 10px 0;
    }
    .recommandations {
        text-align: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .recommandations div {
        margin: 2rem 0 1rem 0;
        padding: 20px;
        border: 2px solid black;
        border-radius: 30px;
    }
    .colonne_droite footer h4 {
        margin: 0 0 20px 0;
        text-decoration: underline;
    }
}