/* Globale */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: black;
}

.container {
    width: 1200px;
    display: flex;
    margin: auto;
}

.couleur_fond {
    color: #FBC02D;
}

.blanc {
    color: white;
}


/* Aside */

aside {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #FBC02D;
}

#photo_profil {
    display: flex;
    justify-content: center;
    margin: 50px 0 30px 0;
}

aside h2 {
    font-size: 1.4rem;
    background-color: #37474F;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0 5px 0;
}

.a_propos {
    text-align: justify;
    flex-grow: 1;
}

aside p,
aside ul {
    margin: 0 40px 10px 40px;
    padding: 0;
}

aside li {
    list-style-type: none;
    margin-bottom: 15px;
}

#img_loisirs {
    font-size: 2.5rem;
    display: flex;
    margin: 40px 0;
    justify-content: space-evenly;
}


/* Main */

main {
    flex: 2;
    padding: 0 60px 0 60px;
    background-color: white;
}

main header {
    padding: 65px 0;
}

main header h1 {
    text-transform: uppercase;
    font-size: 3.5rem;
    margin-bottom: 10px;
}

#sous_titre_header {
    font-size: 1.5rem;
    font-weight: bold;
}

.contact {
    font-weight: bold;
}

#souligne {
    text-decoration: underline #FBC02D;
}

hr {
    border-color: #FBC02D;
    border-style: solid;
}

.conteneur_details {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-top: 2.5rem;
}

.conteneur_details li:nth-child(2) {
    width: 30%;
    margin-left: 1.2rem;
}

.conteneur_details li:nth-child(3) {
    width: 66%;
    margin-left: 2rem;
}

.année {
    font-size: 1.1rem;
}

.espaces {
    display: none;
}

main section p {
    font-size: 1rem;
    line-height: 140%;
    margin-top: 0;
}

main footer h4 {
    font-weight: normal;
    text-transform: uppercase;
}

main section h1,
main footer h1 {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: normal;
    margin: 5rem 0 10px 0;
}

.decalage {
    margin-right: 40px;
}

main footer p {
    margin: -3px 0 8px 0;
}

main h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 0 0 8px 0;
    font-weight: normal;
}

.recommandations {
    list-style-type: none;
    margin-bottom: 40px;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
}


/* Responsive pour smartphone */

@media all and (max-width: 1024px) {
    .container {
        width: 100%;
        flex-direction: column;
    }
    /* Aside */
    aside {
        order: 1;
        text-align: center;
    }
    /* Main */
    main {
        padding: 10px;
    }
    main header {
        text-align: center;
        padding: 0;
    }
    main header h1 {
        margin-bottom: 10px;
        font-size: 2.5rem;
    }
    #sous_titre_header {
        font-size: 1.3rem;
    }
    .conteneur_details {
        flex-direction: column;
    }
    .conteneur_details li:nth-child(2) {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
    .conteneur_details li:nth-child(3) {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
    .année {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
        background-color: #37474F;
        color: white;
        border-radius: 15px;
        font-size: 1.1rem;
        margin-bottom: 1.5rem;
    }
    .année br {
        display: none;
    }
    .espaces {
        display: initial;
    }
    .puces {
        display: none;
    }
    main section p {
        font-size: 1.2rem;
        margin-top: 1.2rem;
    }
    main section h1,
    main footer h1 {
        text-align: center;
        font-size: 1.4rem;
    }
    .decalage {
        margin-right: 10px;
    }
    main h2 {
        text-transform: uppercase;
        font-size: 1.4rem;
        margin: 0 0 10px 0;
    }
    .recommandations {
        text-align: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .recommandations li {
        margin: 2rem 0 1rem 0;
        padding: 20px;
        border: 2px solid black;
        border-radius: 30px;
    }
    main footer h4 {
        margin: 0 0 20px 0;
        text-decoration: underline;
    }
}