.page-menu2 {
    color: #000;
    & section {
        @include page-section;
        background-color: $menu2-bg-color;
        font-family: 'Roboto Slab', serif;
    }
    & h2 {
        font-size: 3rem;
    }
    & h3 {
        @include menu2-gradient;
        font-size: 2.5rem;
        font-weight: normal;
        font-family: 'Croissant One', cursive, serif;
        margin-top: 100px;
    }
    &__titres {
        @include menus-titre;
        & h4 {
            font-size: 1.5rem;
            margin: 0;
        }
        & img {
            width: 30%;
        }
    }
    & ul {
        @include titres-plats;
    }
    & li {
        @include plats;
    }
    &--couleur-entree {
        color: $menu2-titre-color-entree;
    }
    &--couleur-plat {
        color: $menu2-titre-color-plat;
    }
    &--couleur-dessert {
        color: $menu2-titre-color-dessert;
        margin-bottom: 10rem;
    }
}