.page-menu4 {
    @include pages-menus-layout;
    color: #000;
    & section {
        @include page-section;
        background-color: $menu4-bg-color;
        font-family: 'SegoePrint', serif;
        @include tablet-only {
            width: 65%;
        }
        @include mobile-only {
            width: 85%;
        }
    }
    & h2 {
        font-size: 3rem;
        @include tablet-only {
            font-size: 2rem;
        }
        @include mobile-only {
            font-size: 1.1rem;
        }
    }
    & h3 {
        @include menu4-gradient;
        font-size: 5rem;
        font-weight: normal;
        font-family: 'Kaushan Script', cursive, serif;
        margin-top: 100px;
        @include tablet-only {
            margin: 60px 0 15px 0;
            font-size: 3rem;
        }
        @include mobile-only {
            margin: 60px 0 10px 0;
            font-size: 1.9rem;
        }
    }
    &__titres {
        @include menus-titre;
        & h4 {
            font-size: 1.6rem;
            font-weight: normal;
            margin: 0;
            position: relative;
            @include souligner;
            @include tablet-only {
                font-size: 1rem;
            }
            @include mobile-only {
                font-size: 0.6rem;
            }
        }
        & img {
            width: 36%;
            @include tablet-only {
                width: 33%;
            }
        }
    }
    & ul {
        @include titres-plats;
    }
    & li {
        @include plats;
        font-size: 1.3rem;
        @include tablet-only {
            font-size: 0.64rem;
        }
        @include mobile-only {
            font-size: 0.41rem;
        }
    }
}