.page-menu1 {
    @include pages-menus-layout;
    color: #000;
    & section {
        @include page-section;
        padding: 0 8%;
        background-color: $menu1-bg-color;
        color: $menu1-color;
        font-family: 'SegoePrintBold', serif;
        @include tablet-only {
            width: 65%;
        }
        @include mobile-only {
            padding: 0 3% 3rem 3%;
            width: 85%;
        }
    }
    &__top-note {
        padding-top: 60px;
        width: 6rem;
        height: 5.5rem;
        @include tablet-only {
            padding-top: 40px;
            width: 4.5rem;
            height: 4rem;
        }
        @include mobile-only {
            width: 3.5rem;
            height: 3rem;
        }
    }
    & h2 {
        font-size: 3rem;
        @include tablet-only {
            font-size: 2rem;
        }
        @include mobile-only {
            font-size: 1.1rem;
        }
    }
    & h3 {
        font-size: 3rem;
        font-weight: normal;
        font-family: 'Ma Shan Zheng', cursive, serif;
        margin: 0;
        @include tablet-only {
            font-size: 2.5rem;
        }
        @include mobile-only {
            font-size: 1.8rem;
        }
    }
    &__titres {
        @include menus-titre;
        & h4 {
            font-weight: bold;
            font-size: 1.6rem;
            margin: 0;
            @include tablet-only {
                font-size: 1.2rem;
            }
            @include mobile-only {
                font-size: 0.9rem;
            }
        }
        & img {
            width: 33%;
            @include tablet-only {
                width: 30%;
            }
            @include mobile-only {
                width: 26%;
            }
        }
    }
    & ul {
        @include titres-plats;
    }
    & li {
        @include plats;
        width: 100%;
        @include tablet-only {
            font-size: 0.8rem;
        }
        @include mobile-only {
            font-size: 0.5rem;
        }
    }
    & em {
        font-size: 1.5rem;
        font-weight: bold;
        @include tablet-only {
            font-size: 1rem;
        }
        @include mobile-only {
            font-size: 0.6rem;
        }
    }
    &__bottom-menu {
        display: flex;
        align-items: center;
        margin: 4rem;
        @include tablet-only {
            margin: 1rem 0 3rem 0;
        }
        @include mobile-only {
            margin-bottom: 0;
        }
        & img {
            width: 2.2rem;
            height: 2.2rem;
            @include mobile-only {
                width: 1.3rem;
                height: 1.3rem;
            }
        }
        & h3 {
            font-size: 2.2rem;
            @include tablet-only {
                font-size: 1.8rem;
            }
            @include mobile-only {
                font-size: 1.3rem;
            }
        }
    }
}